@{ 
    ViewBag.Title = "Home Page";
    SqlConnection cn = new SqlConnection();
}
<h1>Posts Index</h1>


@section Scripts{
    <script>
        alert("hi");
    </script>
}
@{ 
    SqlConnection cn2 = new SqlConnection();
}

@section TopBar{
    <h3>Top bar section content</h3>    
}

