
@{
    for(int i = 0; i< 50000; i++)
    {
        <text>

      sa @i <br /> </text>
        }
    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>asd</title>
</head>
<body>
   <h1> asd</h1>
</body>
</html>
